~~ For more information about apt, please see http://maven.apache.org/doxia/references/apt-format.html
Name

	Topic - Unsubscribe

Overview
	
	Unsubscribes from a topic.
	
Details

	* <<Version>>: ${project.version}
	
	* <<Type>>: Advanced Action

	* <<Maturity>>: Experimental
	
	* <<NeoLoad>>: 5.1+ (Ultimate, Enterprise or Professional Edition w/ Integration & Customization option required)
	
	* <<NeoSense>>: Compatible
	
	* <<Author>>: Neotys
	
	* <<License>>: {{{http://www.neotys.com/documents/legal/bsd-neotys.txt}BSD Simplified}}.
	
	* <<Requirements>>: None
	
	* <<Bundled in NeoLoad>>: No
	
	[]

* Parameters
	
	* <<topic>>: (required) The topic name.

	[]
	
* Status Codes

	* <<NL-UNSUBSCRIBEFROMTOPIC-ACTION-01>>: There was an issue parsing the parameters.
	
	* <<NL-UNSUBSCRIBEFROMTOPIC-ACTION-02>>: There was an error while unsubscribe from the topic.
	
	[]

* Examples

	* An example of topic unsubscribe.
		
		* <<topic>>: myTopicName
				
		[]
	
	[]
	
ChangeLog

	* 1.0.0

		* Initial release
		
		[]
	[]
	